html {
  background-color: gray;
}

header {
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    
  }

  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo p {
   margin-left: 10px;
   font-size: 16px;
   line-height: 1;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  nav ul li a:hover {
    background-color: #333;
    color: #fff;
  }
  
 body {
  width: 100%;
  background-color: #F3D6CD;
  border: 5px solid black;
 }

  .title {
    text-align: center;
    font-size: xxx-large;
    text-shadow: 1px 3px 1px black;
  
  }

  .lema {
    text-align: center;
    font-style: oblique;
    font-size: xx-large;
  }
  
  .hero-image img {
    width: 100%;
    height:1% ;
    display: block;
    
  } 

  
  .highlighted-quotes {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .highlighted-quotes p {
    font-style: italic;
    margin-bottom: 10px;
  }
  

  .section-title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
  }

  .biography-section {
    font-size: 25px;
  }
  
  .highlighted-quotes {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .highlighted-quotes p {
    font-style: italic;
    margin-bottom: 10px;
  }
  
  .bio-description {
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
  }
 
  .achievements-section {
    padding: 50px 0;
    background-color: #f2f2f2;
  }
  
  .section-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .section-title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .achievements-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  
  .achievements-list li {
    width: 400px;
    margin: 20px;
    text-align: center;
  }
  
  .achievements-list img {
    width: 397px;
    height: 554px;
    margin-bottom: 10px;
  }
  
  .achievements-list p {
    font-size: 18px;
    color: #333;
  }

  .quotes-section {
    padding: 50px 0;
    background-color: #f9f9f9;
  }
  
  .section-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .section-title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .quote-container {
    margin-bottom: 20px;
  }
  
  .quote {
    font-size: 25px;
    font-style: italic;
    text-align: center;
  }
  
  .quote-author {
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
  }

  .literary-works-section {
    padding: 50px 0;
    background-color: #f9f9f9;
    background-color: #F3D6CD;
  }
  
  .section-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .section-title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .book-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .book-item {
    font-size: 20px;
    margin-bottom: 10px;
  }
 
 
  
  .gallery-section {
    background-color: white;
    padding: 50px 0;
  
  }
  
  .section-title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 50px;
  }
  
  .gallery-grid {
     display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px; 
    list-style: none;
    /* display: flex; */
    justify-content: center;
    margin-top: 30px; 
     max-width: 800px;
    margin: 0 auto;
  }
  
  
  .gallery-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  
  
  .gallery-grid img {
    /* max-width: 100%;
    max-height: 100%; */
    /* object-fit: cover;
    text-align: center; */
    /* width: 130px;
    height: 190px; */
       width: 397px;
    height: 500px;
    margin-bottom: 10px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-content img {
    height: 20px;
    margin-right: 10px;
  }
  
  .footer-content p {
    margin: 0;
    font-size: 14px;
    display: inline;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  